.container .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.container .nav .search,
.container .nav .city {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-radius: 10px;
  width: 100%;
}

.container .nav .search input,
.container .nav .city input {
  width: 100%;
  padding: 12px;
  border: none;
  background: transparent;
  padding-left: 36px;
}

.container .nav .search i,
.container .nav .city i {
  position: absolute;
  font-size: 23px;
  padding: 6px;
  color: #666869;
}

.container .nav > button {
  background: #111;
  color: #fafafa;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 8px;
}

.container .nav > button#menuToggle {
  display: flex;
  padding: 6px;
  font-size: 22px;
  display: none;
}

.container .nav > i {
  font-size: 20px;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 50%;
}

.container .nav .user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container .nav .user-info img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.container .nav .user-info a {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.container .nav .user-info a i {
  font-size: 20px;
}

.container .nav .user-info p {
  font-size: 13px;
}

@media screen and (max-width: 992px) {
  .container .nav .city {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container .nav > button {
    padding: 10px;
  }

  .container .nav > i {
    display: none;
  }
}
